In [79]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, NMF,KNNBasic,evaluate

import warnings; warnings.simplefilter('ignore')

In [145]:
movies = pd.read_csv('mldataset/movies_metadata.csv', low_memory=False)
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,12/15/1995,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,FALSE,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,12/15/1995,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,12/22/1995,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,FALSE,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,12/22/1995,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,FALSE,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,11/16/1995,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,FALSE,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,11/17/1995,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,12/22/1995,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,FALSE,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,12/22/1995,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
13,FALSE,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,12/22/1995,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,FALSE,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,12/22/1995,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,FALSE,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise ‚Äì Las Vegas ...,...,11/22/1995,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,FALSE,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,12/13/1995,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,FALSE,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,12/9/1995,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,FALSE,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,11/10/1995,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,FALSE,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,11/21/1995,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,FALSE,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,10/20/1995,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it‚Äôs nothing like show b...",Get Shorty,False,6.4,305.0
21,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,10/27/1995,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
22,FALSE,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,10/6/1995,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
23,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,10/27/1995,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
24,FALSE,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,10/27/1995,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
25,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,12/15/1995,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
26,FALSE,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,10/20/1995,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
27,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,9/27/1995,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
28,FALSE,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cit√© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,5/16/1995,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': 'ÂπøÂ∑ûËØù / Âª£Â∑ûË©±'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
29,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,ÊëáÂïäÊëáÔºåÊëáÂà∞Â§ñÂ©ÜÊ°•,A provincial boy related to a Shanghai crime f...,...,4/30/1995,0.0,108.0,"[{'iso_639_1': 'zh', 'name': 'ÊôÆÈÄöËØù'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,1/1/2010,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
45437,FALSE,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,6/1/2017,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
45438,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,4/2/2015,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
45439,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,6/1/1944,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
45440,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,1/8/2007,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
45441,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,3/7/2002,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
45442,FALSE,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,1/1/1905,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45443,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme √† la t√™te de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1/1/1901,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45444,FALSE,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1/1/1905,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45445,FALSE,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1/1/1906,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,FALSE,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1/1/1909,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45447,FALSE,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,3/5/1904,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,FALSE,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1/1/1904,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45449,FALSE,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,9/13/2005,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
45450,FALSE,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1/1/1900,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1/1/1900,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45452,FALSE,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,1/1/1981,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45453,FALSE,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher‚Äôs family life i...,...,7/7/2017,0.0,146.0,"[{'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'}]",Released,NaN,Mom,False,6.6,14.0
45454,FALSE,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,1/11/2015,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45455,FALSE,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,1/1/1972,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
45456,FALSE,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,3/29/1946,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,FALSE,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,10/22/2000,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,FALSE,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,10/3/2000,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,FALSE,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1/1/1995,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,5/13/1991,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,ÿ±⁄Ø ÿÆŸàÿßÿ®,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ŸÅÿßÿ±ÿ≥€å'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,FALSE,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,11/17/2011,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,FALSE,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,8/1/2003,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,FALSE,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,10/21/1917,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,FALSE,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,6/9/2017,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [39]:
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [40]:
movie_links = pd.read_csv('mldataset/links_small.csv')
movie_links = movie_links[movie_links['tmdbId'].notnull()]['tmdbId'].astype('int')

In [41]:
movies = movies.drop([19730, 29503, 35587])
#Check EDA Notebook for how and why I got these indices.
movies['id'] = movies['id'].astype('int')

In [42]:
#small_metadata['tagline'] = small_metadata['tagline'].fillna('')
#small_metadata['description'] = small_metadata['overview'] + small_metadata['tagline']
#small_metadata['description'] = small_metadata['description'].fillna('')

In [43]:
#small_metadata = small_metadata.reset_index()
#titles = small_metadata['title']
#indices = pd.Series(small_metadata.index, index=small_metadata['title'])

In [44]:
credits = pd.read_csv('mldataset/credits.csv')
keywords = pd.read_csv('mldataset/keywords.csv')

In [45]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')

In [46]:
movies = movies.merge(credits, on='id')
movies = movies.merge(keywords, on='id')

In [47]:
smd = movies[movies['id'].isin(movie_links)]
smd.shape

(9219, 27)

In [48]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [49]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [50]:
smd['director'] = smd['crew'].apply(get_director)

In [51]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [52]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [53]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [54]:
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

In [55]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [56]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [57]:
s = s[s > 1]

In [58]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [59]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [60]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [61]:
smd['soup'] = smd['keywords'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [62]:
smd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,video,vote_average,vote_count,cast,crew,keywords,cast_size,crew_size,director,soup
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,False,7.7,5415.0,"[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival...",13,106,"[johnlasseter, johnlasseter, johnlasseter]",jealousi toy boy friendship friend rivalri boy...
1,FALSE,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,False,6.9,2413.0,"[robinwilliams, jonathanhyde, kirstendunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[boardgam, disappear, basedonchildren'sbook, n...",26,16,"[joejohnston, joejohnston, joejohnston]",boardgam disappear basedonchildren'sbook newho...
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,False,6.5,92.0,"[waltermatthau, jacklemmon, ann-margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, bestfriend, duringcreditssting]",7,4,"[howarddeutch, howarddeutch, howarddeutch]",fish bestfriend duringcreditssting howarddeutc...
3,FALSE,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,False,6.1,34.0,"[whitneyhouston, angelabassett, lorettadevine]","[{'credit_id': '52fe44779251416c91011acb', 'de...","[basedonnovel, interracialrelationship, single...",10,10,"[forestwhitaker, forestwhitaker, forestwhitaker]",basedonnovel interracialrelationship singlemot...
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,False,5.7,173.0,"[stevemartin, dianekeaton, martinshort]","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlifecrisi, confid, age, daughter, mo...",12,7,"[charlesshyer, charlesshyer, charlesshyer]",babi midlifecrisi confid age daughter motherda...
5,FALSE,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,False,7.7,1886.0,"[alpacino, robertdeniro, valkilmer]","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[robberi, detect, bank, obsess, chase, shoot, ...",65,71,"[michaelmann, michaelmann, michaelmann]",robberi detect bank obsess chase shoot thief h...
6,FALSE,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,False,6.2,141.0,"[harrisonford, juliaormond, gregkinnear]","[{'credit_id': '52fe44959251416c75039da9', 'de...","[pari, brotherbrotherrelationship, chauffeur, ...",57,53,"[sydneypollack, sydneypollack, sydneypollack]",pari brotherbrotherrelationship chauffeur long...
7,FALSE,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,False,5.4,45.0,"[jonathantaylorthomas, bradrenfro, rachaelleig...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[],7,4,"[peterhewitt, peterhewitt, peterhewitt]",peterhewitt peterhewitt peterhewitt Action Adv...
8,FALSE,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,False,5.5,174.0,"[jean-claudevandamme, powersboothe, dorianhare...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[terrorist, hostag, explos, vicepresid]",6,9,"[peterhyams, peterhyams, peterhyams]",terrorist hostag explos vicepresid peterhyams ...
9,FALSE,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,False,6.6,1194.0,"[piercebrosnan, seanbean, izabellascorupco]","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[cuba, falselyaccus, secretident, computerviru...",20,46,"[martincampbell, martincampbell, martincampbell]",cuba falselyaccus secretident computervirus se...
10,FALSE,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,False,6.5,199.0,"[michaeldouglas, annettebening, michaelj.fox]","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[whitehous, usapresid, newlov, widow]",18,6,"[robreiner, robreiner, robreiner]",whitehous usapresid newlov widow robreiner rob...
11,FALSE,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,False,5.7,210.0,"[leslienielsen, melbrooks, amyyasbeck]","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[dracula, spoof]",11,9,"[melbrooks, melbrooks, melbrooks]",dracula spoof melbrooks melbrooks melbrooks Co...
12,FALSE,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,False,7.1,423.0,"[kevinbacon, bobhoskins, bridgetfonda]","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[wolf, alaska, dog, goos, bearattack]",13,14,"[simonwells, simonwells, simonwells]",wolf alaska dog goos bearattack simonwells sim...
13,FALSE,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,False,7.1,72.0,"[anthonyhopkins, joanallen, powersboothe]","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[usapresid, presidentialelect, watergatescand,...",34,8,"[oliverstone, oliverstone, oliverstone]",usapresid presidentialelect watergatescand bio...
14,FALSE,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,False,5.7,137.0,"[geenadavis, matthewmodine, franklangella]","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[exoticisland, treasur, map, ship, scalp, pirat]",31,16,"[rennyharlin, rennyharlin, rennyharlin]",exoticisland treasur map ship scalp pirat renn...
15,FALSE,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,The life of the gambling paradise ‚Äì Las Vegas ...,...,False,7.8,1343.0,"[robertdeniro, sharonstone, joepesci]","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[poker, drugabus, 1970s, overdos, illegalprost...",45,10,"[martinscorsese, martinscorsese, martinscorsese]",poker drugabus 1970s overdos illegalprostitut ...
16,FALSE,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,False,7.2,364.0,"[katewinslet, emmathompson, hughgrant]","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[bowl, basedonnovel, servant, countrylif, jane...",17,8,"[anglee, anglee, anglee]",bowl basedonnovel servant countrylif janeauste...
17,FALSE,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,False,6.5,539.0,"[timroth, antoniobanderas, jenniferbeals]","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[hotel, newyear'sev, witch, bet, hotelroom, sp...",24,88,"[allisonanders, allisonanders, allisonanders]",hotel newyear'sev witch bet hotelroom sperm lo...
18,FALSE,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,False,6.1,1128.0,"[jimcarrey, ianmcneice, simoncallow]","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[africa, indigen, humananimalrelationship, bat]",15,11,"[steveoedekerk, steveoedekerk, steveoedekerk]",africa indigen humananimalrelationship bat ste...
19,FALSE,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,False,5.4,224.0,"[wesleysnipes, woodyharrelson, jenniferlopez]","[{'credit_id': '52fe44509251416c750305a1', 'de...","[brotherbrotherrelationship, subway, newyorkc,...",15,44,"[josephruben, josephruben, josephruben]",brotherbrotherrelationship subway newyorkc new...
20,FALSE,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,False,6.4,305.0,"[johntravolta, genehackman, renerusso]","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[gambl, miami, basedonnovel, job, murder, trav...",16,26,"[barrysonnenfeld, barrysonnenfeld, barrysonnen...",gambl miami basedonnovel job murder travel maf...
21,FALSE,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,False,6.5,199.0,"[sigourneyweaver, hollyhunter, willpatton]","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[policebrut, psycholog, policeoper, policeprot...",15,21,"[jonamiel, jonamiel, jonamiel]",policebrut psycholog policeoper policeprotect ...
22,FALSE,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,False,6.0,394.0,"[sylvesterstallone, antoniobanderas, juliannem...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[competit, assassin, cia, bank, cat, mexicanst...",17,71,"[richarddonner, richarddonner, richarddonner]",competit assassin cia bank cat mexicanstandoff...
23,FALSE,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,False,6.3,143.0,"[marysteenburgen, seanpatrickflanery, lancehen...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[deadanim, shottodeath, teenageboy, heldatgunp...",5,9,"[victorsalva, victorsalva, victorsalva]",deadanim shottodeath teenageboy heldatgunpoint...
24,FALSE,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,False,7.1,365.0,"[nicolascage, elisabethshue, juliansands]","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[individu, prostitut, alcohol, casino, loveatf...",14,12,"[mikefiggis, mikefiggis, mikefiggis]",individu prostitut alcohol casino loveatfirsts...
25,FALSE,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,False,7.0,33.0,"[laurencefishburne, ir√®nejacob, kennethbranagh]","[{'credit_id': '5462510ec3a368082d000121', 'de...","[shakespear, jealousi, friend]",9,3,"[oliverparker, oliverparker, oliverparker]",shakespear jealousi friend oliverparker oliver...
26,FALSE,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,False,6.6,91.0,"[christinaricci, rosieo'donnell, thorabirch]","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[1970s, femalefriendship, comingofag, gynecolo...",16,8,"[leslilinkaglatter, leslilinkaglatter, leslili...",1970s femalefriendship comingofag gynecologist...
27,FALSE,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,False,7.4,36.0,"[amandaroot, ciar√°nhinds, susanfleetwood]","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[captain, napoleonicwar, oldflam]",26,22,"[rogermichell, rogermichell, rogermichell]",captain napoleonicwar oldflam rogermichell rog...
28,FALSE,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cit√© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,False,7.6,308.0,"[ronperlman, dominiquepinon, judithvittet]","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[clone, dream, island, eye, dystopia, age, fri...",37,21,"[jean-pierrejeunet, jean-pierrejeunet, jean-pi...",clone dream island eye dystopia age friendship...
29,FALSE,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,ÊëáÂïäÊëáÔºåÊëáÂà∞Â§ñÂ©ÜÊ°•,A provincial boy related to a Shanghai crime f...,...,False,6.5,17.0,"[gongli, libao-tian, wangxiaoxiao]","[{'credit_id': '52fe46559251416c910511c9', 'de...","[servant, cabaret, shanghai, diva, uncl, mistr...",6,4,"[zhangyimou, zhangyimou, zhangyimou]",servant cabaret shanghai diva uncl mistress um...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39963,FALSE,NaN,0,"[Action, Horror, Science Fiction]",NaN,384798,tt2667380,en,Kill Command,"Set in a near future, technology-reliant socie...",...,False,5.2,203.0,"[vanessakirby, thurelindhardt, davidajala]","[{'credit_id': '598965a89251414bd100e6f5', 'de...","[dystopia, cyberpunk, robot]",11,42,"[stevengomez, stevengomez, stevengomez]",dystopia cyberpunk robot stevengomez stevengom...
40019,FALSE,"{'id': 382685, 'name': 'Now You See Me Collect...",90000000,"[Action, Adventure, Comedy, Crime, Mystery, Th...",http://nowyouseeme.movie,291805,tt3110958,en,Now You See Me 2,One year after outwitting the FBI and winning ...,...,False,6.7,3362.0,"[jesseeisenberg, woodyharrelson, markruffalo]","[{'credit_id': '55a77e329251411e11001568', 'de...","[londonengland, china, magic, secretsocieti, v...",141,92,"[jonm.chu, jonm.chu, jonm.chu]",londonengland china magic secretsocieti vigila...
40153,FALSE,NaN,0,[Horror],NaN,26677,tt0155350,en,The Video Dead,A supernatural TV is mistakenly delivered to a...,...,False,5.0,20.0,"[roxannaaugesen, rockyduvall, michaelst.michaels]","[{'credit_id': '52fe4512c3a368484e046f03', 'de...",[zombi],7,9,"[robertscott, robertscott, robertscott]",zombi robertscott robertscott robertscott Horror
40206,FALSE,"{'id': 401562, 'name': 'Teenage Mutant Ninja T...",135000000,"[Fantasy, Action, Adventure, Comedy]",http://www.teenagemutantninjaturtlesmovie.com/,308531,tt3949660,en,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",...,False,5.8,984.0,"[meganfox, stephenamell, willarnett]","[{'credit_id': '548315c292514175f5001823', 'de...","[brotherbrotherrelationship, turtl, sequel, ba...",25,14,"[davegreen, davegreen, davegreen]",brotherbrotherrelationship turtl sequel basedo...
40231,FALSE,NaN,0,"[Comedy, Music]",https://www.uphe.com/movies/popstar-never-stop...,341012,tt3960412,en,Popstar: Never Stop Never Stopping,"When his new album fails to sell records, pop/...",...,False,6.6,348.0,"[andysamberg, jormataccone, akivaschaffer]","[{'credit_id': '555da498c3a3686934001048', 'de...","[popstar, musician, recordalbum, famous]",111,7,"[akivaschaffer, akivaschaffer, akivaschaffer]",popstar musician recordalbum famous akivaschaf...
40265,FALSE,"{'id': 313086, 'name': 'The Conjuring Collecti...",40000000,[Horror],http://www.warnerbros.com/conjuring-2,259693,tt3065204,en,The Conjuring 2,Lorraine and Ed Warren travel to north London ...,...,False,7.0,2018.0,"[patrickwilson, verafarmiga, madisonwolfe]","[{'credit_id': '5327f4c99251411a0d001c70', 'de...","[londonengland, england, 1970s, spirit, single...",30,54,"[jameswan, jameswan, jameswan]",londonengland england 1970s spirit singlemoth ...
40286,FALSE,NaN,0,"[Thriller, Drama, Science Fiction]",NaN,328429,tt2674430,en,Approaching the Unknown,Captain William Stanaforth is on a one-way sol...,...,False,5.1,89.0,"[markstrong, lukewilson, sanaalathan]","[{'credit_id': '57216d09c3a368117e001999', 'de...","[mar, spacetravel, spacemiss, space]",7,45,"[markelijahrosenberg, markelijahrosenberg, mar...",mar spacetravel spacemiss space markelijahrose...
40317,FALSE,"{'id': 2980, 'name': 'Ghostbusters Collection'...",144000000,"[Action, Fantasy, Comedy]",http://www.ghostbusters.com/,43074,tt1289401,en,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",...,False,5.3,2203.0,"[melissamccarthy, kristenwiig, katemckinnon]","[{'credit_id': '543e1b8a0e0a266f7a001970', 'de...","[femalefriendship, reboot, ghost]",75,100,"[paulfeig, paulfeig, paulfeig]",femalefriendship reboot ghost paulfeig paulfei...
40392,FALSE,NaN,50000000,"[Action, Comedy]",http://www.centralintelligencemovie.com/,302699,tt1489889,en,Central Intelligence,After he reunites with an old pal through Face...,...,False,6.2,1699.0,"[dwaynejohnson, kevinhart, amyryan]","[{'credit_id': '552da16d9251413873006694', 'de...","[spi, cia, espionag, highschoolreunion, account]",37,64,"[rawsonmarshallthurber, rawsonmarshallthurber,...",spi cia espionag highschoolreunion account raw...
40455,FALSE,"{'id': 31562, 'name': 'The Bourne Collection',...",120000000,"[Action, Thriller]",http://www.jasonbournemovie.com,324668,tt4196776,en,Jason Bourne,The most dangerous former operative of the CIA...,...,False,5.9,2386.0,"[mattdamon, aliciavikander, tommyleejones]","[{'credit_id': '552da5e192514174db00514b', 'de...","[assassin, amnesia, flashback]",208,119,"[paulgreengrass, paulgreengrass, paulgreengrass]",assassin amnesia flashback paulgreengrass paul...
40456,FALSE,NaN,0,[Thriller],NaN,278348,tt2263814,en,The Maid's Room,"Drina, a young immigrant working as a live-in ...",...,False,4.8,4.0,"[paulagarc√©s, annabellasciorra, billcamp]","[{'credit_id': '53a86ce20e0a26144200618d', 'de...",[],10,10,"[michaelwalker, michaelwalker, michaelwalker]",michaelwalker michaelwalker michaelwalker Thri...
40499,FALSE,NaN,180000000,"[Action, Adventure]",http://legendoftarzan.com,258489,tt0918940,en,The Legend of Tarzan,"Tarzan, having acclimated to life in London, i...",...,False,5.5,2488.0,"[alexanderskarsg√•rd, margotrobbie, christophwa...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[africa, feralchild, tarzan, jungl, animalattack]",34,12,"[davidyates, davidyates, davidyates]",africa feralchild tarzan jungl animalattack da...
40500,FALSE,"{'id': 256322, 'name': 'The Purge Collection',...",10000000,"[Action, Horror, Thriller]",http://www.purgeelectionyear.com,316727,tt4094724,en,The Purge: Election Year,Two years after choosing not to kill the man w...,...,False,6.1,1356.0,"[elizabethmitchell, frankgrillo, mykeltiwillia...","[{'credit_id': '54d9f356c3a3687ab50014d6', 'de...","[dystopia, sequel]",69,58,"[jamesdemonaco, jamesdemonaco, jamesdemonaco]",dystopia sequel jamesdemonaco jamesdemonaco ja...
40501,FALSE,NaN,33000000,[Comedy],http://www.foxmovies.com/movies/mike-and-dave-...,316023,tt2823054,en,Mike and Dave Need Wedding Dates,"Mike and Dave are young, adventurous, fun-lovi...",...,False,5.9,901.0,"[zacefron, adamdevine, annakendrick]","[{'credit_id': '58b9b8ee925141609e00ca24', 'de...","[hawaii, wed, weddingd]",58,21,"[jakeszymanski, jakeszymanski, jakeszymanski]",hawaii wed weddingd jakeszymanski jakeszymansk...
40512,FALSE,NaN,0,[],http://espn.go.com/30for30/film?page=survive%2...,177869,tt2751904,en,Survive and Advance,"In 1983, the NC State Wolfpack, coached by Jim...",...,False,10.0,2.0,[],"[{'credit_id': '547785049251415e1c000cd2', 'de...",[],0,1,"[jonathanhock, jonathanhock, jonathanhock]",jonathanhock jonathanhock jonathanhock
40528,FALSE,NaN,0,"[Comedy, Drama, Romance]",NaN,353571,tt1639084,en,Tallulah,"Desperate to be rid of her toddler, a dissatis...",...,False,6.8,203.0,"[ellenpage, allisonjanney, tammyblanchard]","[{'credit_id': '55c584c09251417a21000d99', 'de...","[gay, babi, van, paint, money, theft, booksign...",24,13,"[sianheder, sianheder, sianheder]",gay babi van paint money theft booksign readin...
40554,FALSE,NaN,0,"[Family, Animation]",http://www.pixar.com/short_films/Theatrical-Sh...,399106,tt5613056,en,Piper,A mother bird tries to teach her little one ho...,...,False,8.2,487.0,[],"[{'credit_id': '5744d6b79251417fc90002a4', 'de...","[bird, fear, short]",0,10,"[alanbarillaro, alanbarillaro, alanbarillaro]",bird fear short alanbarillaro alanbarillaro al...

In [63]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
bag_of_word = count.fit_transform(smd['soup'])

In [64]:
bag_of_word

<9219x70899 sparse matrix of type '<class 'numpy.int64'>'
	with 184476 stored elements in Compressed Sparse Row format>

In [65]:
cosine_sim = cosine_similarity(bag_of_word, bag_of_word)

In [141]:
cosine_sim.shape

(9219, 9219)

In [67]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [68]:
reader = Reader()

In [69]:
ratings = pd.read_csv('mldataset/ratings_small.csv')

In [177]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
#data.split(n_folds=5)

In [178]:
svd = SVD()
evaluate(svd, data, measures=['RMSE'])

Evaluating RMSE of algorithm SVD.

------------
Fold 1
RMSE: 0.8963
------------
Fold 2
RMSE: 0.9030
------------
Fold 3
RMSE: 0.8882
------------
Fold 4
RMSE: 0.8970
------------
Fold 5
RMSE: 0.8974
------------
------------
Mean RMSE: 0.8964
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.8962549838896235,
                             0.9030271563451314,
                             0.8881868509845073,
                             0.8969722277922315,
                             0.8974444441148994]})

In [76]:
nmf = NMF()
evaluate(nmf, data, measures=['RMSE'])

Evaluating RMSE of algorithm NMF.

------------
Fold 1
RMSE: 0.9408
------------
Fold 2
RMSE: 0.9468
------------
Fold 3
RMSE: 0.9558
------------
Fold 4
RMSE: 0.9503
------------
Fold 5
RMSE: 0.9475
------------
------------
Mean RMSE: 0.9482
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9407721090745125,
                             0.9467526946578111,
                             0.9558291041931941,
                             0.9502575450159287,
                             0.9474647086630944]})

In [86]:
trainset = data.build_full_trainset()
nmf.train(trainset)

In [87]:
nmf.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.7651284570453267, details={'was_impossible': False})

In [84]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.8931794893409633, details={'was_impossible': False})

In [34]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [95]:
knn = KNNBasic()
evaluate(knn, data, measures=['RMSE'])

Evaluating RMSE of algorithm KNNBasic.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9662
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9674
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9715
------------
Fold 4
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9696
------------
Fold 5
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9635
------------
------------
Mean RMSE: 0.9676
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9662184192378318,
                             0.9673817512722946,
                             0.9714912411210419,
                             0.9695824635396981,
                             0.9635483571187017]})

In [96]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [97]:
id_map = pd.read_csv('mldataset/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [98]:
indices_map = id_map.set_index('id')

In [157]:
def collaborative_filtering_recommendations(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    #print(tmdbId)
    movie_id = id_map.loc[title]['movieId']
    #print(movie_id)
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    #print(sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    #print(sim_scores)
    movie_indices = [i[0] for i in sim_scores]
    #print(movie_indices)
    movies = smd.iloc[movie_indices][['title', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [173]:
collaborative_filtering_recommendations(15, 'Star Wars')

                                             title      id       est
970                        The Empire Strikes Back    1891  4.108698
6199  Star Wars: Episode III - Revenge of the Sith    1895  3.931241
2705                             American Graffiti     838  3.432085
8865                  Star Wars: The Force Awakens  140607  3.296132
983                             Return of the Jedi    1892  3.115937
8079              Journey 2: The Mysterious Island   72545  3.056914
4137  Star Wars: Episode II - Attack of the Clones    1894  2.877047
7088                     Star Wars: The Clone Wars   12180  2.237823
2120     Star Wars: Episode I - The Phantom Menace    1893  1.873009
4789                                      THX 1138     636  1.740039

In [169]:
knn = KNNBasic(k=10, min_k=5)

In [171]:
evaluate(svd, data, measures=['MAE'])

Evaluating MAE of algorithm SVD.

------------
Fold 1
MAE:  0.6880
------------
Fold 2
MAE:  0.6871
------------
Fold 3
MAE:  0.6963
------------
Fold 4
MAE:  0.6908
------------
Fold 5
MAE:  0.6862
------------
------------
Mean MAE : 0.6897
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.6879759839548474,
                             0.6871212707467347,
                             0.6963459273483696,
                             0.6907752399397824,
                             0.6861620293302547]})

In [172]:
evaluate(nmf, data, measures=['MAE'])

Evaluating MAE of algorithm NMF.

------------
Fold 1
MAE:  0.7261
------------
Fold 2
MAE:  0.7227
------------
Fold 3
MAE:  0.7336
------------
Fold 4
MAE:  0.7318
------------
Fold 5
MAE:  0.7237
------------
------------
Mean MAE : 0.7276
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.7261379042088961,
                             0.7226538686781716,
                             0.7335681580254326,
                             0.7318470669345681,
                             0.7236998790306701]})